html, body {
  font-family: sans-serif;
}

.preview {
  position: relative;
}
.preview video {
  width: 100%;
}

.audiometer {
  padding: 0.2em;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
}
.audiometer-tick {
  background: #31e054;
  display: inline-block;
  width: 2px;
  height: 12px;
  margin-right: 1px;
  border-radius: 1px;
}
.audiometer-muted {
  color: red;
}
