html, body {
  font-family: sans-serif;
}

.video {
  position: relative;
}
.video video {
  max-width: 100%;
}
.stage video {
  width: 100%;
  background: blue;
}

.audiometer {
  padding: 0.2em;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
}
.audiometer-tick {
  background: #31e054;
  display: inline-block;
  width: 2px;
  height: 12px;
  margin-right: 1px;
  border-radius: 1px;
}
.audiometer-muted {
  color: red;
}

.feed-id {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1;
}

.peers .video {
  position: fixed;
  z-index: 10;
  width: 200px;
  top: 0;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}
